body {
    background-color: rgb(231, 228, 228);
    margin: 0;
}

/* navbar */
.navbar {
    opacity: 0.7;
}
/* banner */
.banner{
    background: url("/static/img/search.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 800px;
    padding: 100px 0 0 0;  
    margin-bottom: 100px; 
    opacity: 1;
}

.about {
    margin-bottom: 100px;
}

.number {
    margin-top: 100px;
}
.section-number{
    background: url("/static/img/number.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 500px;
    padding: 100px 0 0 0;   
    opacity: 0.9;
    margin-bottom: 100px;
}

.portfolio {
    margin-bottom: 100px;
}

.testmonial {
    margin-bottom: 100px;
}
.testimonials {
    background: url("/static/img/testimonials.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 400px;
    padding: 100px 0 0 0;   
    opacity: 0.9;
}

#contact-section {
    background: url("/static/img/blue.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 100%;
    padding: 100px 0 0 0;   
    opacity: 1;
}

.add-space {
    height: 100px;
}


#detail-img{
    background: url("/static/img/blue.jpg") 50% 0 no-repeat fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 100px 0 0 0;  
    opacity: 1;
    bottom: 0;
}

