{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}contact{% endblock %}

{% block content %}
<div class="add-space">

</div>
<!-- ======= Contact Section ======= -->
<div class="container-fluid" id="contact-section">
    <div class="container">
        <h1 class="display-3 fw-bolder mb-4 text-center">
            CONTACT ME
        </h1>
    </div>
    {% if submitted %}
    <div class=" container float-center text-white col-lg-9 col-md-12" style="height: 700px;">
        <h4 class="my-4 py-2 text-center" style="background-color: #4a9010fa;">Thank you, your form is submitted </h4>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <form action="" method="post" class="text-light fw-bolder fs-6 text-uppercase">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group text-start">
                                {{ form.as_p }}
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg m-3 px-4 py-2 fw-bolder">Send
                                        Message</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="pt-4 pt-md-0">
                    <h5 class="">
                        Get in Touch
                    </h5>
                </div>
                <div class="more-info">
                    <p class="lead text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum
                        dolorem soluta quidem
                        expedita aperiam aliquid at.
                        Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                        mollitia inventore?
                    </p>
                    <div class="container col-sm-11 col-md-11 col-lg-10 p-3"></div>
                        <div class="mb-2 text-light text-start">
                            <div class="d-inline pr-5">{% bs_icon 'geo' size='2em' %}</div>
                            <div class="d-inline p-2">329 WASHINGTON ST BOSTON, MA 02108</div>
                        </div>
                        <div class="mb-2 text-light text-start">
                            <div class="d-inline pr-5">{% bs_icon 'phone' size='2em' %}</div>
                            <div class="d-inline p-2">(111) 111-1111</div>
                        </div>
                        <div class="mb-2 text-light text-start">
                            <div class="d-inline pr-5">{% bs_icon 'envelope' size='2rem' %}</div>
                            <div class="d-inline p-2">329 WASHINGTON ST BOSTON, MA 02108</div>
                        </div>

                        <div class="socials text-start">
                            <ul class="list-inline">
                                <li class="list-inline-item px-3"><a class="nav-link"
                                        href="">{% bs_icon 'facebook' size='3rem' %}</a></li>
                                <li class="list-inline-item px-3"><a class="nav-link"
                                        href="">{% bs_icon 'github' size='3em' %}</a>
                                </li>
                                <li class="list-inline-item px-3"><a class="nav-link"
                                        href="">{% bs_icon 'linkedin' size='3rem' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endif %}
</div>
<!-- End Contact Section -->
{% endblock %}