{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}contact{% endblock %}

{% block content %}
<div class="add-space">

</div>
<!-- ======= Contact Section ======= -->
<div class="container">
    <h1 class="display-3 fw-bolder mb-4 text-center">
        CONTACT ME
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg m-3 px-4 py-2 fw-bolder">Send
                            Message</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="pt-4 pt-md-0">
                <h5 class="">
                    Get in Touch
                </h5>
            </div>
            <div class="more-info">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum
                    dolorem soluta quidem
                    expedita aperiam aliquid at.
                    Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                    mollitia inventore?
                </p>
                <div class="mb-2 text-primary">
                    <div class="d-inline pr-4">{% bs_icon 'geo' size='2em' %}</div>
                    <div class="d-inline p-2">329 WASHINGTON ST BOSTON, MA 02108</div>
                </div>
                <div class="mb-2 text-primary">
                    <div class="d-inline pr-4">{% bs_icon 'phone' size='2em' %}</div>
                    <div class="d-inline p-2">(111) 111-1111</div>
                </div>
                <div class="mb-2 text-primary">
                    <div class="d-inline pr-4">{% bs_icon 'envelope' size='2em' %}</div>
                    <div class="d-inline p-2">329 WASHINGTON ST BOSTON, MA 02108</div>
                </div>
            </div>
            <div class="socials">
                <ul class="list-inline">
                    <li class="list-inline-item px-3"><a class="nav-link"
                            href="">{% bs_icon 'facebook' size='2em' %}</a></li>
                    <li class="list-inline-item px-3"><a class="nav-link" href="">{% bs_icon 'github' size='2em' %}</a>
                    </li>
                    <li class="list-inline-item px-3"><a class="nav-link"
                            href="">{% bs_icon 'linkedin' size='2em' %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="add-space">

</div>
<!-- End Contact Section -->
{% endblock %}