{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}{% endblock %}
<!-- ======= banner Section ======= -->
{% block content %}
<div id="banner" class="banner">
    <div class="container my-5 py-5" id="banner-header">
        <h1 class="display-1 fw-bolder pt-5 py-2">I am Ephrem Wube</h1>
        <h5 class="display-6 fw-bolder py-2">Full stack developer</h5>
        <a href="{% url 'portfolio:contact' %}"><button type="button"
                class="btn btn-primary btn-lg m-2 px-5 py-2 fw-bolder">Contact</button></a>
        <a href="" download=""><button type="button" class="btn btn-outline-danger btn-lg m-2 px-3 py-2 fw-bolder">Upload Resume</button></a>
    </div>
</div>
<!-- End adveritsing section -->



<!-- ======= About Section ======= -->
<section id="about" class="my-2">
    <div class="container">
        <h1 class="display-3 fw-bolder mb-4 text-center">
            ABOUT ME
        </h1>
        <div class="row">
            <div class="col-sm-12 bg-light">
                <div class="row">
                    <div class="col-md-6 p-3">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <div class="text-primary">
                                    {% bs_icon 'person-square' size='10rem' %}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-7">
                                <div class="fw-bolder fs-5">
                                    <p><span>Name: </span> <span>{{ profile.first_name }} {{ profile.last_name }}</span>
                                    </p>
                                    <p><span>Profile: </span> <span>{{ profile.profession }}</span></p>
                                    <p><span>Email: </span> <span>{{ profile.email }}</span></p>
                                    <p><span>Phone: </span> <span>{{ profile.phone }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="skill pt-3">
                            <h3 class="my-3">SKILL</h3>
                            {% for skill in skills %}
                            <div class="mb-2">
                                <span class="fw-bolder">{{ skill.name|upper }}</span>
                                <div class="progress my-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" style="width: {{ skill.rate }}%;"
                                        aria-valuenow="{{skill.rate}}" aria-valuemin="0" aria-valuemax="100">
                                        {{ skill.rate }}%
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>No skills listed</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 p-3">
                        <div class="about-me pt-4 pt-md-0">
                            <p class="lead">
                                Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur
                                arcu erat, accumsan id
                                imperdiet et, porttitor
                                at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                                Nulla
                                porttitor accumsan tincidunt.
                            </p>
                            <p class="lead">
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit
                                tortor eget felis
                                porttitor volutpat. Vestibulum
                                ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                            </p>
                            <p class="lead">
                                Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in,
                                elementum id enim.
                                Nulla porttitor accumsan
                                tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                            <p class="lead">
                                Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in,
                                elementum id enim.
                                Nulla porttitor accumsan
                                tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

<!-- ======= Counter Section ======= -->


<div class="container number">
    <h1 class="display-3 fw-bolder mb-4 text-center">
        EXPERIENCE
    </h1>
</div>
<div class="container-fluid section-number">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 fw-bolder">
                {% bs_icon 'check-circle' size='6em' %}
                <p class="py-3 fs-4">{{ portfolios|length }}</p>
                <p class="lead fs-4 fw-bolder">
                    WORKS COMPLETED
                </p>

            </div>
            <div class="col-sm-3 col-lg-3">
                {% bs_icon 'reception-4' size='6em' %}
                <p class="py-3 fs-4">{{ profile.experience }}</p>
                <p class="lead fs-4 fw-bolder">
                    YEARS OF EXPERIENCE
                </p>

            </div>
        </div>
    </div>
</div>
<!-- End Counter Section -->

<!-- ======= Portfolio Section ======= -->
<div class="container">
    <h1 class="display-3 fw-bolder mb-4 text-center">
        PORTFOLIO
    </h1>
</div>
<div class="container portfolio">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for project in portfolios %}
        <div class="col">
            <div class="card">
                <a href="{{ project.get_absolute_url }}"><img src="{{ project.image.url }}" class="card-img-top"
                        alt="..."></a>
                <div class="card-body">

                    <a class="nav-link p-0 my-3" href="{{ project.get_absolute_url }}">
                        <h5 class="card-title fw-bolder w-100 bg-light text-primary text-center py-2 rounded-pill">
                            {{ project.name|upper }}</h5>
                    </a>

                    <div class="px-5 text-center">
                        <a href="{{ project.website_link }}"
                            class="nav-link d-inline-block">{% bs_icon 'globe' size='2em' %}</a>
                        <a href="{{ project.github_link }}"
                            class="nav-link d-inline-block">{% bs_icon 'github' size='2em' %}</a>
                        <a class="nav-link d-inline-block" href="{{ project.get_absolute_url }}">
                            <div class="text-end">{% bs_icon 'plus-circle-fill' size='2em' %}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h1>No portfolio available</h1>
        {% endfor %}
    </div>
</div>
<!-- End Portfolio Section -->

<!-- ======= Testimonials Section ======= -->
<div class="container">
    <h1 class="display-3 fw-bolder mb-4 text-center">
        TESTIMONIALS
    </h1>
</div>
<div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" style="background-color:rgb(38, 107, 218); height:30rem; position:relative">
            <div class="carousel-caption d-md-block text-white" style="position: absolute; top: 100px;">
                <img src="{{ testimonial1.image.url }}" class="w-20" alt="..." style="width: 16rem; border-radius:50%">
                <h5>{{ testimonial1.first_name }}</h5>
                <p>{{ testimonial1.body }}</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-color:rgb(38, 107, 218); height:30rem ">
         
            <div class="carousel-caption d-md-block text-white" style="position: absolute; top: 100px;">
                <img src="{{ testimonial2.image.url }}" class="w-20" alt="..." style="width: 16rem; border-radius:50%">
                <h5>{{ testimonial2.first_name }}</h5>
                <p>{{ testimonial2.body }}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- End Testimonials Section -->

<!-- ======= Contact Section ======= -->
<div class="add-space">

</div>
<div class="container">
    <h1 class="display-3 fw-bolder mb-4 text-center">
        CONTACT ME
    </h1>
</div>
<div class="container-fluid" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <form action="{% url 'portfolio:contact' %}" method="post"
                    class="text-light fw-bolder fs-6 text-uppercase">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group text-start">
                                {{ form.as_p }}
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg m-3 px-4 py-2 fw-bolder">Send
                                        Message</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="pt-4 pt-md-0">
                    <h5 class="">
                        Get in Touch
                    </h5>
                </div>
                <div class="more-info">
                    <p class="lead text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum
                        dolorem soluta quidem
                        expedita aperiam aliquid at.
                        Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                        mollitia inventore?
                    </p>
                    <div class="container col-sm-11 col-md-11 col-lg-10 p-3"></div>
                    <div class="mb-2 text-light text-start">
                        <div class="d-inline pr-5">{% bs_icon 'geo' size='2em' %}</div>
                        <div class="d-inline p-2 fs-5">{{ profile.address }}</div>
                    </div>
                    <div class="mb-2 text-light text-start =">
                        <div class="d-inline pr-5">{% bs_icon 'phone' size='2em' %}</div>
                        <div class="d-inline p-2 fs-5">{{ profile.phone }}</div>
                    </div>
                    <div class="mb-2 text-light text-start">
                        <div class="d-inline pr-5">{% bs_icon 'envelope' size='2rem' %}</div>
                        <div class="d-inline p-2 fs-5">{{ profile.website }}</div>
                    </div>

                    <div class="socials text-start">
                        <ul class="list-inline">
                            <li class="list-inline-item px-3"><a class="nav-link"
                                    href="{{ profile.website }}">{% bs_icon 'envelope' size='3rem' %}</a></li>
                            <li class="list-inline-item px-3"><a class="nav-link"
                                    href="{{ profile.github }}">{% bs_icon 'github' size='3em' %}</a>
                            </li>
                            <li class="list-inline-item px-3"><a class="nav-link"
                                    href="">{% bs_icon 'linkedin' size='3rem' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Contact Section -->

{% endblock %}