{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}privacy{% endblock %}

{% block content %}
<div class="add-space">

</div>
<!-- ======= Cookies ======= -->
<div class="container-fluid" id="contact-section">
    <div class="container">
        <h1 class="display-3 fw-bolder mb-4 text-center">
            PRIVACY POLICY
        </h1>
    </div>
    <div class="container py-2">
        <div class="row">
            <div class="col text-start py-3 px-6">
                <p class="font-normal fs-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat fuga
                    eveniet rem labore. Tempore, natus. Voluptatibus quos corrupti ad reiciendis, autem
                    distinctio accusantium, nostrum suscipit repellendus officiis consequatur vero
                    error, repellat modi minus perferendis animi! Porro similique facere ratione
                    magnam aspernatur voluptate delectus quasi voluptates quae amet natus sit ad
                    illum rem voluptatem at reprehenderit omnis cum quibusdam eius, cupiditate
                    ducimus cumque? Vitae autem doloribus id impedit sint perferendis saepe
                    repudiandae voluptatum quos laborum, corporis rerum temporibus ea assumenda
                    facilis sed officiis? Totam tempora quibusdam, quisquam ipsam minus doloremque
                    quas magni hic quaerat cupiditate omnis dolorem inventore, eveniet itaque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat fuga
                    eveniet rem labore. Tempore, natus. Voluptatibus quos corrupti ad reiciendis, autem
                    distinctio accusantium, nostrum suscipit repellendus officiis consequatur vero
                    error, repellat modi minus perferendis animi! Porro similique facere ratione
                    magnam aspernatur voluptate delectus quasi voluptates quae amet natus sit ad
                    illum rem voluptatem at reprehenderit omnis cum quibusdam eius, cupiditate
                    ducimus cumque? Vitae autem doloribus id impedit sint perferendis saepe
                    repudiandae voluptatum quos laborum, corporis rerum temporibus ea assumenda
                    facilis sed officiis? Totam tempora quibusdam, quisquam ipsam minus doloremque
                    quas magni hic quaerat cupiditate omnis dolorem inventore, eveniet itaque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat fuga
                    eveniet rem labore. Tempore, natus. Voluptatibus quos corrupti ad reiciendis, autem
                    distinctio accusantium, nostrum suscipit repellendus officiis consequatur vero
                    error, repellat modi minus perferendis animi! Porro similique facere ratione
                    magnam aspernatur voluptate delectus quasi voluptates quae amet natus sit ad
                    illum rem voluptatem at reprehenderit omnis cum quibusdam eius, cupiditate
                    ducimus cumque? Vitae autem doloribus id impedit sint perferendis saepe
                    repudiandae voluptatum quos laborum, corporis rerum temporibus ea assumenda
                    facilis sed officiis? Totam tempora quibusdam, quisquam ipsam minus doloremque
                    quas magni hic quaerat cupiditate omnis dolorem inventore, eveniet itaque.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}