{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}cookies{% endblock %}

{% block content %}
<div class="add-space">

</div>
<!-- ======= Cookies ======= -->
<div class="container-fluid" id="contact-section" style="height: 700px;">
    <div class="container">
        <h1 class="display-3 fw-bolder mb-4 text-center">
            SEARCH
        </h1>
    </div>
    {% if searched %}
    <div class="container py-2">
        <div class="row">
            <h3 class="text-light bg-primary p-2">Portfolio that contains <i>"{{ searched }}:"</i> </h3>
            <div class="col py-3 px-6">
                {% for result in results %}
                <h4 class="text-light fw-bolder text-center"><a class="nav-link p-2" href="{{ result.get_absolute_url }}">{{ result.name }}</a></h4>
                {% empty %}
                <h4 class="text-light fw-bolder">{{ searched}} not found</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}