{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}contact{% endblock %}

{% block content %}
<div class="add-space">

</div>
<div class="add-space">

</div>
<!-- ======= Portfolio Section ======= -->
<div class="container">
    <h1 class="display-3 fw-bolder mb-4 text-center">
        PORTFOLIO
    </h1>
</div>
<div class="container portfolio">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for project in portfolios %}
        <div class="col">
            <div class="card">
                <a href="{{ project.get_absolute_url }}"><img src="{{ project.image.url }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="{{ project.get_absolute_url }}"><h5 class="card-title">{{ project.name }}</h5></a>
                    <p class="card-text">{{ project.description }}.</p>
                    <a href="{{ project.get_absolute_url }}"><div class="text-end text-primary">{% bs_icon 'plus-circle-fill' size='2em' %}</div></a>
                </div>
            </div>
        </div>
        {% empty %}
        <h1>No portfolio available</h1>
        {% endfor %}
    </div>
</div>
<!-- End Portfolio Section -->

{% endblock %}